<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <rewrite>
            <outboundRules>
                <rule name="Add X-Robots-Tag for non-index HTML" preCondition="IsHtml">
                    <match serverVariable="RESPONSE_X_ROBOTS_TAG" pattern=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/index\.html$" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="noindex, nofollow, noarchive" />
                </rule>
                <preConditions>
                    <preCondition name="IsHtml">
                        <add input="{REQUEST_URI}" pattern="\.html?$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
